 /* 
<!-- =*=*=*=*=*=*=*=*=*=*=*=*=*=*==*=*=*=*=*=*=*=*=*=*=*=*=*=*=
   Start Media 
  =*=*=*=*=*=*=*=*=*=*=*=*=*=*==*=*=*=*=*=*=*=*=*=*=*=*=*=*= --> */

  @media (max-width: 1199px){
    .header .container .nav_bar{
      width: 900px;
    }
    .banner {
      width: 900px;
    }
    .banner .container .row .content h2 {
      font-size: 3rem;
    }
  }
  @media (max-width: 991px){
    .header {
      background: var(--secendary-color);
      box-shadow: 0 10px 10px rgba(0,0,0,0.2);
    }
   .header .container .nav_bar{
      width: 700px;
    }
    .banner {
      width: 700px;
    }
    .header .container .nav_bar .toggle {
      display: block;
    }
    .header .container .nav_bar .navbar-collapse .navbar-nav{
      display: none;
      transition: .4s ease;
    }
    .header .container .nav_bar .navbar-collapse .navbar-nav.active{
      position: absolute;
      left: 0;
      right: 0;
      top: 60px;
      display: block;
      background-color: var(--secendary-color);
      padding: 1rem;
    }
    .header .container .nav_bar .navbar-collapse .navbar-nav .nav-item,
    .header .container .nav_bar .navbar-collapse .navbar-nav .button {
      margin-top: 1.5rem;
    }
    .banner .container .row {
      flex-flow: column-reverse;
    }
    .banner .container .row .content {
      text-align: center;
    }
    .banner .container .row .content h2 {
      font-size: 3rem;
    }
  }
  @media (max-width: 767px){
    .header .container .nav_bar{
      width: 500px;
    }
    .banner {
      width: 500px;
    }
  }
  @media (max-width: 575px){
    .header .container .nav_bar{
      width: 95%;
    }
    .banner {
      width: 95%;
    }
  }



  
   /* <!-- =*=*=*=*=*=*=*=*=*=*=*=*=*=*==*=*=*=*=*=*=*=*=*=*=*=*=*=*=
   End Media  
  =*=*=*=*=*=*=*=*=*=*=*=*=*=*==*=*=*=*=*=*=*=*=*=*=*=*=*=*= --> */