 /* 
<!-- =*=*=*=*=*=*=*=*=*=*=*=*=*=*==*=*=*=*=*=*=*=*=*=*=*=*=*=*=
   Start Media 
  =*=*=*=*=*=*=*=*=*=*=*=*=*=*==*=*=*=*=*=*=*=*=*=*=*=*=*=*= --> */

  @media (max-width: 1199px){
    .header .container .nav_bar{
      width: 900px;
    }
    .banner {
      width: 900px;
    }
    .delivery {
      width: 900px;
    }
    .delivery .container .row .card {
      width: 283.33px;
    }
    .banner .container .row .content h2 {
      font-size: 3rem;
    }
    .banner .container .row .content h2 {
      font-size: 2.5rem;
      line-height: 2.7rem;
    }
    .banner .container .row .content p {
      margin: 1rem 0;
    }
  }
  @media (max-width: 991px){
    .header {
      background: var(--secendary-color);
    }
   .header .container .nav_bar{
      width: 700px;
    }
    .banner {
      width: 700px;
      margin-top: 4rem;
    }
    .delivery {
      width: 700px;
    }
    .delivery .container .row .card {
      width: 320px;
    }
    .header .container .nav_bar .toggle {
      display: block;
    }
    .header .container .nav_bar .navbar-collapse .navbar-nav{
      display: none;
      transition: .4s ease;
    }
    .header .container .nav_bar .navbar-collapse .navbar-nav.active{
      position: absolute;
      left: 0;
      right: 0;
      top: 60px;
      display: block;
      background-color: var(--secendary-color);
      padding: 1rem;
    }
    .header .container .nav_bar .navbar-collapse .navbar-nav .nav-item,
    .header .container .nav_bar .navbar-collapse .navbar-nav .button {
      margin-top: 1.5rem;
    }
    .banner .container .row {
      flex-flow: column-reverse;
    }
    .banner .container .row .content {
      text-align: center;
    }
    .banner .container .row .content h2 {
      font-size: 3rem;
      line-height: 3rem;
    }
  }
  @media (max-width: 767px){
    .header .container .nav_bar{
      width: 500px;
    }
    .banner {
      width: 500px;
    }
    .delivery {
      width: 500px;
    }
    .delivery .container .row .card {
      width: 230px;
    }
  }
  @media (max-width: 575px){
    .header .container .nav_bar{
      width: 95%;
    }
    .banner {
      width: 95%;
    }
    .delivery {
      width: 95%;
    }
    .banner .container .row .content h2{
      font-size: 2.4rem;
      line-height: 2.5rem;
    }
    .banner .container .row .main-button .button {
      margin: 0 2px;
    }
    .banner .container .row .content p {
      line-height: 1rem;
      margin: 1rem 0;
    }
    .delivery .container .row .card {
      width: 95%;
    }
  }
  @media (max-width: 320px){
    .banner .container .row .content h2{
      font-size: 2rem;
      line-height: 2.3rem;
    }
    .banner .container .row .main-button .button {
      margin: 3px 0;
    }
  }


  
   /* <!-- =*=*=*=*=*=*=*=*=*=*=*=*=*=*==*=*=*=*=*=*=*=*=*=*=*=*=*=*=
   End Media  
  =*=*=*=*=*=*=*=*=*=*=*=*=*=*==*=*=*=*=*=*=*=*=*=*=*=*=*=*= --> */