/*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=
////////////////// width 1199px ////////////////
 *=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*= */
  @media (max-width: 1200px) {
    .wrapper {
      width: 900px;
    }


  }
 /*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=
////////////////// width 1199px ////////////////
 *=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*= */
 /*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=
////////////////// width 991px ////////////////
 *=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*= */
 @media (max-width: 991px) {
  .wrapper {
    width: 700px;
  }
  .navbar .collapse .navbar-nav {
    display: none;
  }
  .navbar .collapse .bars {
    display: block;
  }
  .navbar .collapse .bars .fa-bars-staggered {
    background-color: var(--lover-color);
    color: var(--secondary-color);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: 1px solid var(--lover-color);
    font-size: 1.4rem;
    transition: .3s ease;
  }
  .navbar .collapse .bars .fa-bars-staggered:hover {
    background-color: transparent;
    color: var(--lover-color);
  }
  .navbar .collapse .navbar-nav.active {
    display: block;
    position: absolute;
    top: 5rem;
    left: 0;
    right: 0;
    background-color: var(--secondary-color);
    text-align: center;
    padding: 1rem;
  }
  .navbar .collapse .navbar-nav.active .nav-link {
    margin: 5px;
  }
  .banner .container .row{
    flex-direction: column-reverse;
  }
  .banner .container .row .content, 
  .banner .container .row .image{
   width: 100%;
   margin: 0 auto;
  }
  .banner .container .row{
    text-align: center;
  }
  .banner .container .row .review {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .brending .container .row {
    gap: 1rem;
    margin: 1rem;
  }
 }
/*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=
////////////////// width 991px ////////////////
*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*= */
/*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=
////////////////// width 767px ////////////////
 *=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*= */
 @media (max-width: 767px) {
    .wrapper {
      width: 500px;
    }
    .banner .container .row .content h1{
      font-size: 2rem;
      line-height: 3rem;
    }
    .banner .container .row .content p {
      line-height: 2rem;
    }

 }
/*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=
////////////////// width 767px ////////////////
*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*= */
/*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=
////////////////// width 575px ////////////////
 *=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*= */
 @media (max-width: 575px) {
    .wrapper {
      width: 95%;
    }
    
 }
/*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=
////////////////// width 575px ////////////////
*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*= */