/* *=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=
                    Start  Google Fonts  
 *=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=* */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* *=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=
          ///////////////// End Google Fonts  ////////////////////
 *=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=* */
/* *=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=
/////////////// Start Universal Code  /////////////////
 *=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=* */
 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  :root {
    --primary-color:#000000;
    --secondary-color: #FFFFFF;
    --lover-color: #EF5DA8;
    --bg-color: #FCEEFD;
    --yellow-color: #FBC300;
  }
  body {
    background-color: var(--secondary-color);
    font-family: 'Poppins', sans-serif;
  }
  .wrapper {
    width: 1100px;
    margin: 0 auto;
    padding: 1.3rem;
  }
  .button {
    font-size: 1rem;
    font-weight: 500;
    display: inline-block;
    line-height: 20px;
    color: var(--secondary-color);
    background-color: var(--lover-color);
    padding:8px 16px;
    text-decoration: none;
    border-radius: 20px;
    cursor: pointer;
    border: 1px solid var(--lover-color);
  }
 /* *=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=
////////////////// End Universal Code  ////////////////
 *=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=* */
 /* *=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=
//////////////// Star Navigation Bar  Code  /////////////////
 *=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=* */
 .navbar {
  padding: 1px;
 }
  .navbar.sticky {
    position: fixed;
    left: 0;
    right: 0;
    background-color: var(--secondary-color);
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    z-index: 999;
  }
  .navbar .collapse {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .navbar .collapse .navbar-brand {
    font-size: 2rem;
    font-weight: 500;
    color: var(--primary-color);
    line-height: 2px;
    white-space: wrap;
    text-decoration: none;
    transition: .5s ease;
  }
  .navbar .collapse .navbar-nav {
    display: flex;
    align-items: center;
    gap: 2rem;
    list-style: none;
  }
  .navbar .collapse .navbar-nav .nav-link {
    font-size: 1rem;
    display: inline-block;
    font-weight: 500;
    color: var(--primary-color);
    line-height: 5px;
    text-decoration: none;
    white-space: wrap;
    padding: 14px 0;
    transition: .3s ease;
    cursor: pointer;
  }
  .navbar .collapse .navbar-nav .nav-link:hover,
  .navbar .collapse .navbar-nav .nav-link:focus{
    color: var(--lover-color);
  }
  .navbar .collapse .navbar-nav .btn:hover {
    background: transparent;
    color: var(--lover-color);
  }
  .navbar .collapse .bars {
    display: none;
  }
 /* *=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=
////////////////// End Navigation Bar////////////////
 *=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=* */
 /* *=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=
//////////////// Star Banner Section  /////////////////
 *=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=* */
 .banner {
  background-color: var(--bg-color);
  padding: 1rem 0;
 }
  .banner .container .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    transition: .5s ease;
  }
  .banner .container .row .content, 
  .banner .container .row .image{
   width: 50%;
  }
  .banner .container .row .content h1 {
    font-size: 3.2rem;
    color: var(--primary-color);
    font-weight: 700;
    line-height: 4rem;
    white-space: wrap;
  }
  .banner .container .row .content h1 span {
    color: var(--lover-color);
  }
  .banner .container .row .content h1 span:nth-child(2){
    background-image: url(/foodLover/image/span.png);
    background-repeat: no-repeat;
    background-position: bottom;
    color: var(--primary-color);
  }
  .banner .container .row .content p {
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--primary-color);
    line-height: 4rem;
    white-space: wrap;
  }
  .banner .container .row .content .content_button .button{
    position: relative;
    z-index: 2;
    margin: 2rem 0;
    padding: 16px 30px;
    border-radius: 20px;
  }
  .banner .container .row .content .content_button .button::after{
    content: url(/foodLover/image/button-rep.png);
    position: absolute;
    right: -1rem;
    top: -1.6rem;
    
    z-index: 1;
  }
  .banner .container .row .content .content_button .button i{
    margin-left: 1rem;
  }
  .banner .container .row .image img {
    width: 100%;
    height: auto;
  }
  .banner .container .row .review {
    display: flex;
    align-items: center;
    justify-content: start;
    margin: 3rem 0;
    gap: 20px;
  }
  .banner .container .row .review img {
    width: 40px;
    margin: -12px;
  }
  .banner .container .row .review  .content-review  h3 {
    font-size: .9rem;
    font-weight: 600;
    line-height: 1rem;
    color: var(--primary-color);
  }
  .banner .container .row .review  .content-review .fa-star{
    font-size: .8rem;
    color: var(--yellow-color);
    line-height:1rem;
  }
  .banner .container .row .review  .content-review  span {
    font-size: .8rem;
    color: var(--primary-color);
    font-weight: 400;
  }
 /* *=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=
////////////////// End Banner Section ////////////////
 *=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=* */

  /* *=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=
//////////////// Star   /////////////////
 *=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=* */

 /* *=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=
////////////////// End ////////////////
 *=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=* */