/*========== Start Global Style ==============*/
/*========== Start Google Fonst ==========*/
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap');
/*========== End Google Fonst ==========*/
/*========== Start Universal ==========*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*========== Start Universal ==========*/
/*========== Start Body ==========*/
body {
  font-family: 'Josefin Sans', sans-serif;
}
/*========== End Body ==========*/
/*========== End Global Style ==============*/