/*========== Start Global Style ==============*/
/*========== Start Google Fonst ==========*/
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap');
/*========== End Google Fonst ==========*/
/*========== Start Universal ==========*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*========== Start Universal ==========*/
/*========== Start Root Variables ==========*/
:root{
  --primary-color: #edece5;
  --secondary-color: #2d3134;
  --orange-color: #ff450a;
  --dark-color: #e2d8ce;
  --white-color: #fff;
  --blue-color: #383d93;
  --black-color: #000;
}
/*========== End Root Variables ==========*/
/*========== Start Body ==========*/
body {
  font-family: 'Josefin Sans', sans-serif;
  background-color: var(--primary-color);
}
body.sun {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}
/*========== End Body ==========*/
/*========== Start Container_All ==========*/
  .container_All {
    width: 1100px;
  margin: auto;
  padding: 1.5rem 0;
  }
/*========== End Container_All ==========*/


/*========== Start wrapper ==========*/
.wrapper.sticky{
  background: var(--primary-color);
  box-shadow: 0 1px 10px rgba(0,0,0 ,0.1);
}
.wrapper {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  transition: all .5s ease;
  z-index: 999;
}
/*========== Start navbar ==========*/
.navbar {
  width: 1100px;
  margin: auto;
  padding: 1.5rem 0;
}
/*========== Start Header ==========*/
.wrapper .header {
  width: 100%;
  height: 100%;
  position: relative;
}
/*========== End Header ==========*/
/*========== Start nav ==========*/
.navbar .nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/*========== Start brand logo ==========*/
.navbar .nav .brand .logo {
  display: flex;
  align-items: center;
  gap: 2px;
  font-size: 1.7rem;
  font-weight: 900;
  text-decoration: none;
  color: var(--secondary-color);
}
/*========== End brand logo ==========*/
/*========== Start Navbar-nav ==========*/
.navbar .nav .navbar-nav {
  display: flex;
  align-items: center;
  list-style-type: none;
  gap: 2rem;
}
.navbar .nav .navbar-nav .nav-item .nav-link {
  display: inline-block;
  text-align: center;
  justify-content: center;
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--secondary-color);
  text-decoration: none;
  cursor: pointer;
  position: relative;
  transition: all .5s ease;
}
.navbar .nav .navbar-nav .nav-item:hover .nav-link,
.navbar .nav .navbar-nav .nav-item .nav-link.active{
  color: var(--orange-color);
}
.navbar .nav .navbar-nav .nav-item:hover .nav-link::after,
.navbar .nav .navbar-nav .nav-item .nav-link.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 90%;
  height: 2px;
  background-color: var(--orange-color);
}
/*========== End Navbar-nav ==========*/
/*========== Start Light Notification ==========*/
.navbar .nav .light_notification {
  display: flex;
  align-items: center;
  gap: .8rem;
}
/*========== End Light Notification ==========*/
/*========== Start location_notification ==========*/
.navbar .nav .light_notification .location_notification {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.navbar .nav .light_notification .location_notification .fa-bell {
  position: relative;
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--secondary-color);
}
.navbar .nav .light_notification .location_notification .fa-location-dot {
  font-size: 1.2rem;
  color: var(--secondary-color);
  cursor: pointer;
}
.navbar .nav .light_notification .location_notification .fa-bell::after{
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: var(--orange-color);
  top: -1px;
  right: 0;
  top: 1px;
}
.navbar .nav .light_notification .location_notification .fa-bars-staggered{
  font-size: 1.4rem;
  padding: 8px;
  color: var(--secondary-color);
  cursor: pointer;
  display: none;
}
/*========== End location_notification ==========*/
/*========== Start Sun-mon ==========*/
.navbar .nav .sun-mon {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: var(--black-color);
  gap: 1px;
  width: 75px;
  height: 40px;
  padding: 8px 1px;
  border-radius: 10px;
  color: var(--dark-color);
  cursor: pointer;
}
.navbar .nav .sun-mon .fa-sun.sun,
.navbar .nav .sun-mon .fa-sun.active_sun {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 30px;
  background-color: var(--orange-color);
  border-radius: 10px;
}
.navbar .nav .sun-mon .fa-moon.moon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 30px;
  background-color: var(--orange-color);
  border-radius: 10px;
}
/*========== End Sun-mon ==========*/
/*========== End nav ==========*/
/*========== End navbar ==========*/
/*========== End wrapper ==========*/
/*========== Start Hero Section ==========*/
.hero {
  background: url("../image/maldives.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/*========== Start container ==========*/
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
/*========== Start Row ==========*/
.hero .container .row {
  width: 100%;
  height: 300px;
  background: rgba(0,0,0,0.1);
  border: 2px solid rgba(0,0,0,0.1);
  backdrop-filter: blur(5px);
  position: relative;
}
/*========== Start Hotel And TOur ==========*/
.hero .container .row .hotel-tour {
  display: flex;
  align-items: center;
  justify-content: left;
  position: absolute;
  width: 100px;
  height: 20px;
  top: -20px;
  left: 0;
  background: rgba(0,0,0,0.1);
  backdrop-filter: blur(5px)
}
/*========== End Hotel And TOur ==========*/

/*========== End Row ==========*/
/*========== End container ==========*/
/*========== End Hero Section ==========*/








/*========== End Global Style ==============*/